<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="ProjetCSC" value="https://pkgs.dev.azure.com/ProjetCSC/_packaging/18cf48c5-4151-464c-bb5a-65b746cb6755/nuget/v3/index.json" />
    </packageSources>
	<packageSourceCredentials>
		<ProjetCSC>
		<add key="Username" value="any" />
		<add key="ClearTextPassword" value="uecj2gtowgl4amgmzrbq7amkiukntckmdgkumse4smz4brjlhxqa" />
		</ProjetCSC>
  	</packageSourceCredentials>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>